{% extends 'base.html.twig' %}

{% block title %}{{ 'label_edit_action'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label_edit_action'|trans }}</h1>

    {{ include('action/_form.html.twig',{'button_label': 'Update'}) }}


    {{ include('action/_delete_form.html.twig') }}<br>

    <a href="{{ path('wallet_index') }}" class="btn btn-outline-success">{{ 'back'|trans }}</a>
{% endblock %}
