{% extends 'base.html.twig' %}

{% block title %}{{ 'title_actions_list'|trans }}{% endblock %}

{% block body %}
    {% if pagination is defined and pagination.items|length %}
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <h1>{{ 'title_actions_list'|trans }}</h1>

    <div class="row">
        <div class="col-6">
    <form>
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" value="{{ 'label_category'|trans }}">
            <div class="input-group-append">
                <input class="m-1" type="submit" value="{{ 'search'|trans }}" />
            </div>
        </div>
    </form>
    </div>
<div class="col-6">
    <form action="{{ path('action_search') }}" method="POST">
        <input type="date" name="date1" />
        <input type="date" name="date2" />
        <input type="text" name="wallet" value="{{ 'label_wallet'|trans }}">
        <input type="submit" value="{{ 'search'|trans }}" />
    </form>
</div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'action.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_amount'|trans, 'action.amount') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'action.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_wallet'|trans, 'action.wallet') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'action.category') }}</th>
                <th> </th>



            </tr>
        </thead>
        <tbody>
        {% for action in pagination.items %}
            <tr>

                <td>{{ action.name }}</td>
                <td>{{ action.amount }}</td>
                <td>{{ action.date|date("d/m/Y") }}</td>
                <td>{{ action.wallet }}</td>
                <td>{{ action.category }}</td>
                <td>
                    <a href="{{ path('action_show', {'id': action.id}) }}">{{ 'show'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}

    <a href="{{ path('action_new') }}" class="btn btn-outline-primary">Create new</a><br><br>
    <a href="{{ path('wallet_index') }}" class="btn btn-outline-primary">Back to wallets</a>
{% endblock %}
