{% extends 'base.html.twig' %}

{% block title %}Search Action{% endblock %}

{% block body %}
    <h1>{{ 'search_action'|trans }}</h1>

    {{ 'label_balance'|trans }} {{ 'from'|trans }}  {{ date1 }} {{ 'to'|trans }} {{ date2 }} {{ 'is'|trans }} {{ results['balance']  }}.

{% endblock %}
