{% extends 'base.html.twig' %}

{% block title %}Action{% endblock %}

{% block body %}
    <h1>{{ 'label_action'|trans }}</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>{{ 'label_name'|trans }}</th>
                <td>{{ action.name }}</td>
            </tr>
            <tr>
                <th>{{ 'label_amount'|trans }}</th>
                <td>{{ action.amount }}</td>
            </tr>
            <tr>
                <th>{{ 'label_date'|trans }}</th>
                <td>{{ action.date|date("m/d/Y")}}</td>
            </tr>
        </tbody>
    </table>




    <a href="{{ path('wallet_index') }}" class="btn btn-outline-success">{{ 'back'|trans }}</a>

    {{ include('action/_delete_form.html.twig') }}
{% endblock %}
