{% extends 'base.html.twig' %}

{% block title %}{{ 'label_new_category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label_new_category'|trans }}</h1>

    {{ include('category/_form.html.twig') }}<br>

    <a href="{{ path('wallet_index') }}" class="btn btn-outline-primary">{{ 'back'|trans }}</a>
{% endblock %}
