{% extends 'base.html.twig' %}

{% block title %}Wallets{% endblock %}

{% block body %}
    <h1>Wallets</h1>
    <a href="{{ path('wallet_new') }}" class="btn btn-outline-primary">Create new</a><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Balance</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.id }}</td>
                <td>{{ wallet.name }}</td>
                <td>{{ wallet.balance }}</td>

                <td>
                    <a href="{{ path('wallet_show', {'id': wallet.id}) }}">show</a>
                    <a href="{{ path('wallet_edit', {'id': wallet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



<div class="row">

    <div class="col">
        <a href="{{ path('action_new') }}" class="btn btn-outline-primary">New action</a>
    </div>

    <div class="col">
        <a href="{{ path('action_index') }}" class="btn btn-outline-danger">Action list</a>
    </div>

    <div class="col">
        <a href="{{ path('category_new') }}" class="btn btn-outline-success">New category</a>
    </div>

    <div class="col">

    <a href="{{ path('user_index') }}"class="btn btn-outline-info">Admin details</a>
   </div>
</div>

{% endblock %}
