{% extends 'base.html.twig' %}

{% block title %}{{ 'label_new_wallet'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label_new_wallet'|trans }}</h1>

    {{ include('wallet/_form.html.twig') }}

    <br><a href="{{ path('wallet_index') }}" class="btn btn-outline-success">{{ 'back'|trans }}</a>
{% endblock %}
