{% extends 'base.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block body %}
    <h1>{{ 'label_wallet'|trans }}</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>{{ 'label_name'|trans }}</th>
                <td>{{ wallet.name }}</td>
            </tr>
            <tr>
                <th>{{ 'label_balance'|trans}}</th>
                <td>{{ wallet.balance }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('wallet_edit', {'id': wallet.id}) }}" class="btn btn-outline-success">{{ 'edit'|trans }}</a><br><br>

    {{ include('wallet/_delete_form.html.twig') }}<br>




    <table class="table">
        <thead>
        <tr>

            <th>{{ 'label_name'|trans }}</th>
            <th>{{ 'label_amount'|trans }}</th>
            <th>{{ 'label_category'|trans }}</th>
            <th>{{ 'label_date'|trans }}</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for actions in wallet.actions %}
            <tr>

                <td>{{ actions.name }}</td>
                <td>{{ actions.amount }}</td>
                <td>{{ actions.category }}</td>
                <td>{{ actions.date|date("d-m-y") }}</td>
                <td>
                    <a href="{{ path('action_show', {'id': actions.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('action_edit', {'id': actions.id}) }}">{{ 'edit'|trans }}</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><a href="{{ path('wallet_index') }}" class="btn btn-outline-success">{{ 'back'|trans }}</a>

{% endblock %}
