{% extends 'base.html.twig' %}

{% block title %}{{ 'edit'|trans }} {{ 'password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit'|trans }} {{ 'password'|trans }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}<br>

    <a class="btn btn-outline-primary" href="{{ path('wallet_index') }}">{{ 'back'|trans }}</a>


{% endblock %}
