<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'personal_wallet'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light mb-3">
    <a class="navbar-brand text-light" href="{{ path('wallet_index') }}">{{ 'personal_wallet'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent text-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a href="{{ path('wallet_new') }}" class="btn btn-outline-primary mx-2">{{ 'label_new_wallet'|trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('action_index') }}" class="btn btn-outline-primary mx-2">{{ 'title_actions_list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('action_new') }}" class="btn btn-outline-primary mx-2">{{ 'label_new_action'|trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('category_new') }}" class="btn btn-outline-primary mx-2">{{ 'label_new_category'|trans }}</a>
            </li>
        </ul>
        {% if app.user %}
                <div>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {{ 'logged_as'|trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>

                        <a href="{{ path('user_edit', {id: app.user.id}) }}">{{ 'edit'|trans }} {{ 'password'|trans }}</a>
                    {% endif %}
                </div>
            {% endif %}
    </div>
</nav>

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
